[INST]
## System Message
<system>{{ system_message }}</system>
## Role
{{ role }}

## Instruction
{{ instruction }}

## Input
```
{{ input }}
```


## Instruction
write commit message for the provided diff chunk

## OUTPUT:
Generate *only* the commit message based on the provided diff chunk and the requirements above
[/INST]