
## System Message
{{ system_message }}

## Role
{{ role }}

## Instruction
{{ instruction }}

## Input
```
{{ input }}
```

{% if example_input is defined %}
## Example Input
```
{{ example_input }}
```

## Example Good Output
```
{{ example_output }}
```


## Example of BAD Output
```
{{ bad_example_output }}
```


{% endif %}